{% extends "base.html" %}

{% block headextra %}
{% endblock %}


{% block body %}

    <div class="container">
        <form class="" id="msg_form" action="" method="post">
          <p><input type="text" name="msg" placeholder="Your Infoglobe Message" maxlength="38" autocomplete="off"></p>
          <p><input type="submit" name="" value="submit"></p>
        </form>
        <ul>
          <h2>Recent Messages</h2>
          {% for item in values %}
            <li>{{item}}</li>
          {% endfor %}
        </ul>
    </div>

{% endblock %}
