{% extends "base.html" %}

{% block headextra %}
<script src="{{url_for('static', filename='submitMsg.js')}}"></script>


<script src="{{url_for('static', filename='showLastAccessed.js')}}"></script>

{% endblock %}


{% block body %}

    <div class="container" style="">
        <form class="" id="msg_form">
          <p><input type="text" name="msg" id="msg_field"
            placeholder="Your Infoglobe Message"
            maxlength="35" autocomplete="off" required autofocus></p>
          <p><input type="submit" name="" value="submit"></p>
        </form>

          <div class="break"></div> <!-- break -->


        <ul>
          <h2>Recent Messages</h2>
          <div id="recent_msg">
          {% for item in values %}
            <li>{{item}}</li>
          {% endfor %}
          </div>
        </ul>

          <div class="break"></div> <!-- break -->

        <div id="lastAccessed"></div>

            <div class="break"></div> <!-- break -->
    </div>

<hr>

    <div class="container">
        <h1 class="cool-gradient-text" style="padding-bottom:5px;margin-bottom:0px;">See what the people are saying...</h1>
        <div class="break"></div> <!-- break -->
        <div id="full_history" class="gradient-text">
            {% for item in history %}
                <span>{{item}}</span>
                <br>
            {% endfor %}
        </div>
    </div>


<footer id="footer" style="text-align:center; color:#154360">
<!--    <div class="container">-->
    Made with Love, in Squalor
<!--    <div class="break"></div> &lt;!&ndash; break &ndash;&gt;-->
    <br>
    Copyright <a style="underline:false" href="https://andykong.org"> A </a> and L
<!--</div>-->
</footer>

{% endblock %}
